In [80]:
def moon_sun():
    return 0

In [2]:
def moon_sun2():
    print(0)
    #return None 이 암시적으로 숨어있음.

In [4]:
1 + moon_sun2()

# interpreter언어이기때문에 왼쪽부터 한줄한줄 실행되는데, 값이 중간에 하나 튀어나오고 에러가 나는것.

0

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [6]:
import dis

dis.dis(moon_sun)
# Python은 interpreter언어이기때문에 introspectrum를 지원함.
# JAVA에서는 내부구조를 알고싶을 땐, reflect?!??!? 를 사용한대.

# assembly언어처럼 어떻게 동작하는지 알고싶으면 dis를 쓰면됨.

  2           0 LOAD_CONST               1 (0)
              3 RETURN_VALUE

In [12]:
def moon_sun(x,y):
    return x,y
moon_sun(1,3)

# Positional 방법 : parameter의 순서대로 매핑되어 튜플로 출력되는 방법.

(1, 3)

In [13]:
def moon_sun(y, x):
    return x, y
moon_sun(1,3)

(3, 1)

In [14]:
a, *b, c = 1,2,3,4,5,6,7,8

# '*' : 고정되어있는 애 빼고 나머지. b는 리스트임. 유동적으로 크기가 늘어날 수 있음.
b

[2, 3, 4, 5, 6, 7]

In [88]:
#def moon_sun(a, *b, c):
#    return a,b,c
#이건 안되는 예제

def moon_sun(a, b, *c):
    return a,b,c
#이건 되는 예제

moon_sun(1,1,2,3,43,4,5,"11", ["asd"])

# * 은 무조건 맨 뒤에 써야함. 중간에쓰며안됨. 단, 예외가 있음..!
# * 다음에 오는 것은 무조건 key를 붙여줘야함.

(1, 1, (2, 3, 43, 4, 5, '11', ['asd']))

In [84]:
def moon_sun(a, *b, c):
    return a,b,c

moon_sun(1,2,3,4,424,43, "11", c=['a'])

(1, (2, 3, 4, 424, 43, '11'), ['a'])

In [95]:
# 문제) 나는 무조건 키워드만 받게 함수를 만들고 싶다?!?? Positional argument를 받으면 안됨!
# Pandas쓸떄, 인자가 16개 될 때 처리하려면 이방법쓴당.!

def moon_sun(*, x, y):
    return x,y

#moon_sun(12, x = 2, y = 2)

moon_sun(z = 12, x = 2, y = 1)

# 제일처음에 이름없이 * 별표 를 박아버리면, * 뒤에 이름을 안붙이면됨...!!!!!
# Python2는 지원안함.

TypeError: moon_sun() got an unexpected keyword argument 'z'

In [115]:
# Positional Arguments와 Keyword Arguments를 섞어 쓸 때.
# Positional Arguments 가 Keyword Argument 뒤에와야함....!!!!!!!
def moon_sun(y,x):
    return y,x

#되는 예제
#moon_sun(2, y=1)
#안되는 예제
moon_sun(y=1, 2)

SyntaxError: positional argument follows keyword argument (<ipython-input-115-39cfa1cbbedb>, line 8)

In [29]:
# 예제))) Pandas로 예를 지들어보겟움.

import pandas as pd
pd.read_csv

ImportError: No module named 'pandas'

In [116]:
# 예제))) 더 쉬운예쩨 들어보겟숨.

def moon_sun(x, y=3, z=1):
    return x,y,z

#moon_sun(7,2)
moon_sun(7, z=5)
#입력을 하면 x=7들어가는데, 입력을 안하면  
# 순서대로하면 keyword생략할수있는데, keyword방식은 순서없이 아무데나.

# Pandas 인수들 다 입력할필요없이. 내가 원하는 값만 keyword로 입력해서 사용하면됨.

(7, 3, 5)

In [32]:
# 얘제

def moon_sun(x):
    return x

moon_sun(7 or 23)

# parameter 에선 or쓰면안되고, 
# Argument에서는 or써도 됨.

7

In [117]:

def moon_sun(x, y):
    return x

moon_sun(7 or 23)

TypeError: moon_sun() missing 1 required positional argument: 'y'

In [125]:
def moon_sun(x):
    return x

a = input('')
moon_sun(a or 23)
# a = input('') 일때 a는 값이 없으므로 False.
# 23은 True이므로
# True or False 니까..... 23이 반환됨.
# 입력값이 존재하면 입력값이 출력되고, 입력값이 없으면 default값으로 23지정한 꼴.

46

'46'

In [34]:
#??????????????????//////

a = input('xxx : ')
moon_sun(a or 23)

xxx : ddd

'ddd'

In [126]:
#1,_,_ = 2,3,2
# 2는 이뮤터블인 애이므로, 숫자로 바꿀수없음.

x,_,_ = 2,3,2

#x
_
#관례상 _는 불필요한 이름을 _로 자주 지음.
#Python은 왼쪽부터 실행됨. _의 값이 3이 되었다가 마지막에 2로 변하므로, 2가 출력됨.
#Packing Unpacking의 개념임..!

2

In [127]:
def moon_sun(x, *z):
    return x,z

moon_sun(1,23,2,3,2)

(1, (23, 2, 3, 2))

In [46]:
moon_sun(1,(23,2,3,2))

(1, ((23, 2, 3, 2),))

In [44]:
moon_sun(1, *(23,2,3,2))

(1, (23, 2, 3, 2))

In [48]:
moon_sun(1, *[23,2,3,2])

(1, (23, 2, 3, 2))

In [49]:
moon_sun(1, *frozenset({23,2,3,2}))

(1, (2, 3, 23))

In [50]:
moon_sun(1, *"23,2,3,2")

(1, ('2', '3', ',', '2', ',', '3', ',', '2'))

In [51]:
# 별표 뒤엔 sequence, container다 들어갈수있는데, 예외가 있음.
# dictionary!!
# List를 타입형태로 만들수잇어.

list('aaaaa')

['a', 'a', 'a', 'a', 'a']

In [56]:
list(1,2,3,4,5)
# 함수의 인자로 literable인 애를 넣어야함.
# ","의우선순위가 더 높기때문에, tuple처럼 안들어감.
# list((1,2,3,4,5)) 가능

TypeError: list() takes at most 1 argument (5 given)

In [57]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [59]:
def moon_sun(x, **z):
    return x,z

# moon_sun(1,x=2,y=2) 는 안됨.
# x에 값이 1,2 두개가 들어와버리기때문에.
moon_sun(1,a=2,y=2)

(1, {'a': 2, 'y': 2})

In [60]:
# in 은 뒤에 딕셔너리가오면 key만체크함.
# 헤더에 ** 별표가 두개있을떄!?????????????뭐야얜

# 

def moon_sun(x, **z):
    if 'a' in z:
        print(z['a'])
    return x,z

# 이게 왜 숨은기능만들때 사용한다는거임????????????????????///

SyntaxError: invalid syntax (<ipython-input-60-ac79d3237622>, line 1)

In [61]:
# 별표 한개랑, 별표 두개를 동시에 써볼게.
def moon_sun(x, **y, *z):
    return x,y,z

SyntaxError: invalid syntax (<ipython-input-61-c812e96fcf74>, line 2)

In [64]:
# 별표 한개를 먼저써야함. 순서중요. 안이쁜건 에러남.

def moon_sun(x, *y, **z):
    return x,y,z

moon_sun(1,3,4,2,34, a=2, y=3)

(1, (3, 4, 2, 34), {'a': 2, 'y': 3})

In [65]:
list()

[]

In [67]:
x={1:'a', 2:'b'}
y={2:'c', 3:'d'}

# dictionay안에 dict가 들어갈수없음 immutable만들어갈수있음.
# **는 unpacking 풀어헤치는것.

z= {**x, **y}
z

# dictionary는 예외적으로 별표한개 아닌, 두개일때 풀어헤침...!

{1: 'a', 2: 'c', 3: 'd'}

In [69]:
def moon_sun(x, **z):
    return x,z

moon_sun(1,{1:'3'})

# 이건또왜안될까!??!?!?!?????????
# 함수 인자로 **나오면

TypeError: moon_sun() takes 1 positional argument but 2 were given

## Q. 함수 한개만입력받았을떄, type이 sequence이면, sequence라고 출력하고, 				아니면, 아니라고 출력.
#### * ** 사용해서 사용하는 입장도 복잡했지만,  만드는입장은 더 복잡하다는것을 보여주기위한 예제문제.

In [ ]:
def abcd()

In [73]:
dict

type

In [74]:
# 전공자용 sol 1)
hasattr 쓰면된댕.

SyntaxError: invalid syntax (<ipython-input-74-92bcc15bf9fb>, line 1)

In [75]:
# 비전공자용 sol 2)
def type_check(x):
    if type(x) in [list, tuple, range]:

SyntaxError: unexpected EOF while parsing (<ipython-input-75-4c3bb212b457>, line 2)

In [79]:
def type_check(x):
    if isinstance(x, (list, tuple, range)):
        print('xxx')
        
type_check([1,2,3])

xxx

In [ ]:




# 남이만든함수 쓸라면 방식이 2가지있다.