In [2]:
import pandas as pd
import numpy as np

In [7]:
# tab키로 분리시키는 옵션.

df = pd.read_csv('pew.txt', sep="\t")

In [6]:
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [8]:
df[df.religion=='Buddhist']

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
2,Buddhist,27,21,30,34,33,58,62,39,53,54

In [11]:
df[df.religion=='Buddhist'].mean(axis=1)

2    41.1
dtype: float64

# wide를 long으로 바꾸는 함수. melt()
# groupby()

In [15]:
# 얼어잇는거 녹여서 슥~ 흘려보낸다는 의미.

df.melt('religion')

                    religion            variable  value
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [17]:
melt_data = df[melt.religion=='Hindu']
???????????????????????????????????????????????????????????????????????????????????????

NameError: name 'melt' is not defined

In [19]:
melt_data = df.melt('religion')

In [20]:
melt_data.groupby('religion').mean()

                         value
religion
Agnostic                  82.6
Atheist                   51.5
Buddhist                  41.1
Catholic                 805.4
Don’t know/refused        27.2
Evangelical Prot         947.2
Hindu                     25.7
Historically Black Prot  199.5
Jehovah's Witness         21.5
Jewish                    68.2
Mainline Prot            747.0
Mormon                    58.1
Muslim                    11.6
Orthodox                  36.3
Other Christian           12.9
Other Faiths              44.9
Other World Religions      4.2
Unaffiliated             370.7

In [21]:
melt_data.groupby('religion').max()

                                   variable  value
religion
Agnostic                 Don't know/refused    137
Atheist                  Don't know/refused     76
Buddhist                 Don't know/refused     62
Catholic                 Don't know/refused   1489
Don’t know/refused       Don't know/refused    116
Evangelical Prot         Don't know/refused   1529
Hindu                    Don't know/refused     54
Historically Black Prot  Don't know/refused    339
Jehovah's Witness        Don't know/refused     37
Jewish                   Don't know/refused    162
Mainline Prot            Don't know/refused   1328
Mormon                   Don't know/refused    112
Muslim                   Don't know/refused     23
Orthodox                 Don't know/refused     73
Other Christian          Don't know/refused     18
Other Faiths             Don't know/refused     71
Other World Religions    Don't know/refused      8
Unaffiliated             Don't know/refused    597

In [22]:
melt_data.groupby('religion').min()

                        variable  value
religion
Agnostic                 $10-20k     27
Atheist                  $10-20k     12
Buddhist                 $10-20k     21
Catholic                 $10-20k    418
Don’t know/refused       $10-20k     10
Evangelical Prot         $10-20k    414
Hindu                    $10-20k      1
Historically Black Prot  $10-20k     78
Jehovah's Witness        $10-20k      6
Jewish                   $10-20k     19
Mainline Prot            $10-20k    289
Mormon                   $10-20k     29
Muslim                   $10-20k      6
Orthodox                 $10-20k     13
Other Christian          $10-20k      7
Other Faiths             $10-20k     20
Other World Religions    $10-20k      2
Unaffiliated             $10-20k    217

In [72]:
df = pd.read_csv('tb.csv')

In [73]:
df

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AD,1994,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AD,1996,8.0,NaN,NaN,0.0,0.0,0.0,4.0,1.0,...,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,NaN
7,AD,1997,17.0,NaN,NaN,0.0,0.0,1.0,2.0,2.0,...,NaN,NaN,0.0,1.0,2.0,3.0,0.0,0.0,1.0,NaN
8,AD,1998,1.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AD,1999,4.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
10,AD,2000,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AD,2001,3.0,NaN,NaN,0.0,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,AD,2002,2.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
13,AD,2003,7.0,NaN,NaN,0.0,0.0,0.0,1.0,2.0,...,NaN,NaN,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN
14,AD,2004,3.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN
15,AD,2005,5.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
16,AD,2006,8.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
17,AD,2007,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
18,AD,2008,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
19,AE,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,AE,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,AE,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,AE,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,AE,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,AE,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,AE,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AE,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,AE,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,AE,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,AE,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5739,ZM,2008,13211.0,NaN,NaN,101.0,1120.0,3244.0,2094.0,737.0,...,NaN,NaN,165.0,1246.0,2062.0,1114.0,498.0,187.0,115.0,0.0
5740,ZW,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5741,ZW,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5742,ZW,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5743,ZW,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744,ZW,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5745,ZW,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5746,ZW,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5747,ZW,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5748,ZW,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5749,ZW,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5750,ZW,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5751,ZW,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5752,ZW,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5753,ZW,1993,5331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5754,ZW,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5755,ZW,1995,8965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5756,ZW,1996,11965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5757,ZW,1997,14512.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5758,ZW,1998,14492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5759,ZW,1999,14414.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5760,ZW,2000,14392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5761,ZW,2001,15370.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5762,ZW,2002,15941.0,NaN,NaN,191.0,600.0,2548.0,1662.0,744.0,...,NaN,NaN,222.0,914.0,2185.0,1095.0,421.0,140.0,65.0,NaN
5763,ZW,2003,14488.0,NaN,NaN,133.0,874.0,3048.0,2228.0,981.0,...,NaN,NaN,180.0,1232.0,2856.0,1480.0,565.0,225.0,114.0,NaN
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [74]:
# melt() 함수의 인자가 여러개일땐, list로.
# pandas랑 똑같이.

df.melt(['iso2', 'year'])
# 변수만있고, 값이없어. NaN 없애기. dropNa

       iso2  year   variable  value
0        AD  1989     new_sp    NaN
1        AD  1990     new_sp    NaN
2        AD  1991     new_sp    NaN
3        AD  1992     new_sp    NaN
4        AD  1993     new_sp   15.0
5        AD  1994     new_sp   24.0
6        AD  1996     new_sp    8.0
7        AD  1997     new_sp   17.0
8        AD  1998     new_sp    1.0
9        AD  1999     new_sp    4.0
10       AD  2000     new_sp    1.0
11       AD  2001     new_sp    3.0
12       AD  2002     new_sp    2.0
13       AD  2003     new_sp    7.0
14       AD  2004     new_sp    3.0
15       AD  2005     new_sp    5.0
16       AD  2006     new_sp    8.0
17       AD  2007     new_sp    2.0
18       AD  2008     new_sp    3.0
19       AE  1980     new_sp    NaN
20       AE  1981     new_sp    NaN
21       AE  1982     new_sp    NaN
22       AE  1983     new_sp    NaN
23       AE  1984     new_sp    NaN
24       AE  1985     new_sp    NaN
25       AE  1986     new_sp    NaN
26       AE  1987     new_sp    NaN
27       AE  1988     new_sp    NaN
28       AE  1989     new_sp    NaN
29       AE  1990     new_sp    NaN
...     ...   ...        ...    ...
121119   ZM  2008  new_sp_fu    0.0
121120   ZW  1980  new_sp_fu    NaN
121121   ZW  1981  new_sp_fu    NaN
121122   ZW  1982  new_sp_fu    NaN
121123   ZW  1983  new_sp_fu    NaN
121124   ZW  1984  new_sp_fu    NaN
121125   ZW  1985  new_sp_fu    NaN
121126   ZW  1986  new_sp_fu    NaN
121127   ZW  1987  new_sp_fu    NaN
121128   ZW  1988  new_sp_fu    NaN
121129   ZW  1989  new_sp_fu    NaN
121130   ZW  1990  new_sp_fu    NaN
121131   ZW  1991  new_sp_fu    NaN
121132   ZW  1992  new_sp_fu    NaN
121133   ZW  1993  new_sp_fu    NaN
121134   ZW  1994  new_sp_fu    NaN
121135   ZW  1995  new_sp_fu    NaN
121136   ZW  1996  new_sp_fu    NaN
121137   ZW  1997  new_sp_fu    NaN
121138   ZW  1998  new_sp_fu    NaN
121139   ZW  1999  new_sp_fu    NaN
121140   ZW  2000  new_sp_fu    NaN
121141   ZW  2001  new_sp_fu    NaN
121142   ZW  2002  new_sp_fu    NaN
121143   ZW  2003  new_sp_fu    NaN
121144   ZW  2004  new_sp_fu    NaN
121145   ZW  2005  new_sp_fu    NaN
121146   ZW  2006  new_sp_fu    NaN
121147   ZW  2007  new_sp_fu    NaN
121148   ZW  2008  new_sp_fu    0.0

[121149 rows x 4 columns]

In [79]:
# 컬럼명 바꾸기
data2 = df.melt(['iso2', 'year'], value_name="문", var_name = "근영")

In [35]:
# NaN없애기.
data2.dropna(inplace=True)

In [77]:
data2

       iso2  year         근영     문
0        AD  1989     new_sp   NaN
1        AD  1990     new_sp   NaN
2        AD  1991     new_sp   NaN
3        AD  1992     new_sp   NaN
4        AD  1993     new_sp  15.0
5        AD  1994     new_sp  24.0
6        AD  1996     new_sp   8.0
7        AD  1997     new_sp  17.0
8        AD  1998     new_sp   1.0
9        AD  1999     new_sp   4.0
10       AD  2000     new_sp   1.0
11       AD  2001     new_sp   3.0
12       AD  2002     new_sp   2.0
13       AD  2003     new_sp   7.0
14       AD  2004     new_sp   3.0
15       AD  2005     new_sp   5.0
16       AD  2006     new_sp   8.0
17       AD  2007     new_sp   2.0
18       AD  2008     new_sp   3.0
19       AE  1980     new_sp   NaN
20       AE  1981     new_sp   NaN
21       AE  1982     new_sp   NaN
22       AE  1983     new_sp   NaN
23       AE  1984     new_sp   NaN
24       AE  1985     new_sp   NaN
25       AE  1986     new_sp   NaN
26       AE  1987     new_sp   NaN
27       AE  1988     new_sp   NaN
28       AE  1989     new_sp   NaN
29       AE  1990     new_sp   NaN
...     ...   ...        ...   ...
121119   ZM  2008  new_sp_fu   0.0
121120   ZW  1980  new_sp_fu   NaN
121121   ZW  1981  new_sp_fu   NaN
121122   ZW  1982  new_sp_fu   NaN
121123   ZW  1983  new_sp_fu   NaN
121124   ZW  1984  new_sp_fu   NaN
121125   ZW  1985  new_sp_fu   NaN
121126   ZW  1986  new_sp_fu   NaN
121127   ZW  1987  new_sp_fu   NaN
121128   ZW  1988  new_sp_fu   NaN
121129   ZW  1989  new_sp_fu   NaN
121130   ZW  1990  new_sp_fu   NaN
121131   ZW  1991  new_sp_fu   NaN
121132   ZW  1992  new_sp_fu   NaN
121133   ZW  1993  new_sp_fu   NaN
121134   ZW  1994  new_sp_fu   NaN
121135   ZW  1995  new_sp_fu   NaN
121136   ZW  1996  new_sp_fu   NaN
121137   ZW  1997  new_sp_fu   NaN
121138   ZW  1998  new_sp_fu   NaN
121139   ZW  1999  new_sp_fu   NaN
121140   ZW  2000  new_sp_fu   NaN
121141   ZW  2001  new_sp_fu   NaN
121142   ZW  2002  new_sp_fu   NaN
121143   ZW  2003  new_sp_fu   NaN
121144   ZW  2004  new_sp_fu   NaN
121145   ZW  2005  new_sp_fu   NaN
121146   ZW  2006  new_sp_fu   NaN
121147   ZW  2007  new_sp_fu   NaN
121148   ZW  2008  new_sp_fu   0.0

[121149 rows x 4 columns]

In [80]:
df.groupby('year').sum()
#?????????????????????????????????????????????????????????????????????????????/

,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,new_sp_m5564,new_sp_m65,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
year,,,,,,,,,,,,,,,,,,,,,
1980,8350.0,0.0,0.0,12.0,56.0,75.0,84.0,101.0,108.0,186.0,...,0.0,0.0,18.0,65.0,51.0,34.0,32.0,33.0,104.0,0.0
1981,7887.0,0.0,0.0,8.0,49.0,62.0,64.0,87.0,103.0,141.0,...,0.0,0.0,6.0,46.0,57.0,26.0,28.0,36.0,92.0,0.0
1982,7206.0,0.0,0.0,6.0,52.0,66.0,70.0,92.0,94.0,151.0,...,0.0,0.0,7.0,53.0,57.0,33.0,25.0,38.0,80.0,0.0
1983,7437.0,0.0,0.0,9.0,49.0,64.0,62.0,90.0,93.0,124.0,...,0.0,0.0,11.0,54.0,50.0,32.0,25.0,37.0,86.0,0.0
1984,11024.0,0.0,0.0,3.0,44.0,76.0,58.0,69.0,83.0,170.0,...,0.0,0.0,9.0,51.0,59.0,28.0,28.0,36.0,100.0,0.0
1985,13130.0,0.0,0.0,12.0,42.0,70.0,60.0,79.0,82.0,168.0,...,0.0,0.0,5.0,31.0,57.0,19.0,28.0,49.0,97.0,0.0
1986,14635.0,0.0,0.0,9.0,59.0,73.0,62.0,59.0,73.0,147.0,...,0.0,0.0,11.0,33.0,54.0,33.0,20.0,26.0,95.0,0.0
1987,21743.0,0.0,0.0,9.0,40.0,71.0,61.0,49.0,64.0,129.0,...,0.0,0.0,9.0,39.0,48.0,29.0,17.0,26.0,79.0,0.0
1988,24665.0,0.0,0.0,4.0,43.0,73.0,62.0,52.0,68.0,131.0,...,0.0,0.0,6.0,38.0,56.0,27.0,16.0,26.0,80.0,0.0
1989,25060.0,0.0,0.0,10.0,45.0,56.0,60.0,54.0,62.0,123.0,...,0.0,0.0,7.0,37.0,51.0,23.0,24.0,21.0,81.0,0.0
1990,28636.0,0.0,0.0,3.0,35.0,70.0,55.0,40.0,42.0,100.0,...,0.0,0.0,1.0,30.0,38.0,26.0,17.0,20.0,72.0,0.0
1991,29164.0,0.0,0.0,7.0,37.0,79.0,53.0,37.0,36.0,110.0,...,0.0,0.0,4.0,24.0,37.0,31.0,9.0,20.0,60.0,0.0
1992,32811.0,0.0,0.0,6.0,42.0,47.0,58.0,42.0,53.0,79.0,...,0.0,0.0,2.0,27.0,28.0,22.0,11.0,16.0,79.0,0.0
1993,811476.0,0.0,0.0,8.0,33.0,47.0,53.0,45.0,33.0,74.0,...,0.0,0.0,6.0,22.0,51.0,22.0,21.0,22.0,55.0,0.0
1994,917813.0,0.0,0.0,5.0,73.0,100.0,69.0,65.0,54.0,92.0,...,0.0,0.0,14.0,68.0,67.0,35.0,25.0,22.0,61.0,0.0
1995,1175290.0,0.0,0.0,7491.0,48816.0,76799.0,65678.0,49514.0,41756.0,34776.0,...,0.0,0.0,7730.0,41378.0,50102.0,32741.0,22688.0,17816.0,16686.0,0.0
1996,1331989.0,0.0,0.0,6571.0,60697.0,95167.0,83405.0,61594.0,51817.0,44555.0,...,0.0,0.0,8045.0,49736.0,61513.0,40897.0,27590.0,22264.0,21854.0,0.0
1997,1371331.0,0.0,0.0,8234.0,73431.0,112495.0,94777.0,70821.0,57641.0,51849.0,...,0.0,0.0,9099.0,61097.0,71048.0,45543.0,30279.0,23460.0,23430.0,0.0
1998,1414648.0,0.0,0.0,9109.0,85202.0,125832.0,107724.0,82784.0,63254.0,58234.0,...,0.0,0.0,10837.0,72240.0,82564.0,53744.0,36024.0,26945.0,25896.0,0.0
1999,1507579.0,0.0,0.0,9935.0,99144.0,148252.0,131021.0,101876.0,73165.0,68321.0,...,0.0,0.0,11970.0,82378.0,101734.0,62934.0,42386.0,30570.0,30831.0,0.0
2000,1535217.0,0.0,0.0,12387.0,115246.0,172899.0,156268.0,121278.0,82840.0,75151.0,...,0.0,0.0,14748.0,94643.0,110306.0,74707.0,49823.0,33700.0,33823.0,0.0
2001,1621460.0,0.0,0.0,10022.0,129407.0,186489.0,167180.0,133933.0,88325.0,77807.0,...,0.0,0.0,13583.0,106536.0,119144.0,78489.0,53110.0,35456.0,35002.0,0.0
2002,1726396.0,0.0,0.0,16778.0,153602.0,230596.0,210547.0,165795.0,105050.0,89505.0,...,0.0,0.0,21208.0,128683.0,152926.0,100863.0,66523.0,41988.0,38638.0,0.0
2003,1948797.0,0.0,0.0,15197.0,190064.0,279282.0,257211.0,207785.0,133752.0,110913.0,...,0.0,0.0,21214.0,158430.0,182765.0,122637.0,81780.0,52190.0,46766.0,0.0
2004,2223480.0,0.0,0.0,17959.0,225530.0,317924.0,296713.0,244452.0,163626.0,140413.0,...,0.0,0.0,24713.0,185808.0,208937.0,142070.0,96785.0,63001.0,56333.0,0.0
2005,2413759.0,48.0,252.0,18413.0,242359.0,329714.0,312522.0,261231.0,184836.0,166846.0,...,35.0,391.0,26179.0,199697.0,220525.0,153504.0,106028.0,72019.0,65707.0,15.0
2006,2537916.0,1204.0,2459.0,18027.0,258355.0,348317.0,335659.0,283945.0,201236.0,175008.0,...,856.0,3504.0,26609.0,207273.0,229371.0,163663.0,112817.0,77253.0,69035.0,17.0
2007,2580700.0,1171.0,3582.0,19399.0,265143.0,354632.0,340836.0,293786.0,211948.0,183895.0,...,804.0,4777.0,28155.0,212311.0,231413.0,164218.0,115452.0,80344.0,72176.0,12.0
2008,2655825.0,1029.0,5326.0,19509.0,272437.0,355535.0,350970.0,301336.0,220265.0,188335.0,...,827.0,7159.0,28673.0,215589.0,231501.0,170232.0,119693.0,83737.0,74319.0,647.0

In [ ]:
# multi index....
# 어디에 melt를 적용해야할까. column명에 변수적 개념인 애가 왔을때.!

# weather 데이터

In [82]:
df = pd.read_csv('weather.txt', sep="\t")

In [83]:
df

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX000017004,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,MX000017004,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,MX000017004,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX000017004,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX000017004,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,MX000017004,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,MX000017004,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,MX000017004,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,MX000017004,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,MX000017004,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,MX000017004,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX000017004,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX000017004,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,MX000017004,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,MX000017004,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,MX000017004,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,MX000017004,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,MX000017004,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,MX000017004,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX000017004,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# 고정시킬것만 melt에 집어넣음됨.

df.melt(['id', 'year', 'element', 'month']).dropna()

              id  year element  month variable  value
20   MX000017004  2010    TMAX     12       d1  299.0
21   MX000017004  2010    TMIN     12       d1  138.0
24   MX000017004  2010    TMAX      2       d2  273.0
25   MX000017004  2010    TMIN      2       d2  144.0
40   MX000017004  2010    TMAX     11       d2  313.0
41   MX000017004  2010    TMIN     11       d2  163.0
46   MX000017004  2010    TMAX      2       d3  241.0
47   MX000017004  2010    TMIN      2       d3  144.0
56   MX000017004  2010    TMAX      7       d3  286.0
57   MX000017004  2010    TMIN      7       d3  175.0
84   MX000017004  2010    TMAX     11       d4  272.0
85   MX000017004  2010    TMIN     11       d4  120.0
92   MX000017004  2010    TMAX      3       d5  321.0
93   MX000017004  2010    TMIN      3       d5  142.0
102  MX000017004  2010    TMAX      8       d5  296.0
103  MX000017004  2010    TMIN      8       d5  158.0
104  MX000017004  2010    TMAX     10       d5  270.0
105  MX000017004  2010    TMIN     10       d5  140.0
106  MX000017004  2010    TMAX     11       d5  263.0
107  MX000017004  2010    TMIN     11       d5   79.0
130  MX000017004  2010    TMAX     12       d6  278.0
131  MX000017004  2010    TMIN     12       d6  105.0
148  MX000017004  2010    TMAX     10       d7  281.0
149  MX000017004  2010    TMIN     10       d7  129.0
168  MX000017004  2010    TMAX      8       d8  290.0
169  MX000017004  2010    TMIN      8       d8  173.0
202  MX000017004  2010    TMAX      3      d10  345.0
203  MX000017004  2010    TMIN      3      d10  168.0
222  MX000017004  2010    TMAX      2      d11  297.0
223  MX000017004  2010    TMIN      2      d11  134.0
..           ...   ...     ...    ...      ...    ...
324  MX000017004  2010    TMAX     10      d15  287.0
325  MX000017004  2010    TMIN     10      d15  105.0
334  MX000017004  2010    TMAX      3      d16  311.0
335  MX000017004  2010    TMIN      3      d16  176.0
362  MX000017004  2010    TMAX      6      d17  280.0
363  MX000017004  2010    TMIN      6      d17  175.0
486  MX000017004  2010    TMAX      2      d23  299.0
487  MX000017004  2010    TMIN      2      d23  107.0
498  MX000017004  2010    TMAX      8      d23  264.0
499  MX000017004  2010    TMIN      8      d23  150.0
542  MX000017004  2010    TMAX      8      d25  297.0
543  MX000017004  2010    TMIN      8      d25  156.0
568  MX000017004  2010    TMAX     11      d26  281.0
569  MX000017004  2010    TMIN     11      d26  121.0
578  MX000017004  2010    TMAX      4      d27  363.0
579  MX000017004  2010    TMIN      4      d27  167.0
580  MX000017004  2010    TMAX      5      d27  332.0
581  MX000017004  2010    TMIN      5      d27  182.0
590  MX000017004  2010    TMAX     11      d27  277.0
591  MX000017004  2010    TMIN     11      d27  142.0
610  MX000017004  2010    TMAX     10      d28  312.0
611  MX000017004  2010    TMIN     10      d28  150.0
626  MX000017004  2010    TMAX      6      d29  301.0
627  MX000017004  2010    TMIN      6      d29  180.0
630  MX000017004  2010    TMAX      8      d29  280.0
631  MX000017004  2010    TMIN      8      d29  153.0
638  MX000017004  2010    TMAX      1      d30  278.0
639  MX000017004  2010    TMIN      1      d30  145.0
674  MX000017004  2010    TMAX      8      d31  254.0
675  MX000017004  2010    TMIN      8      d31  154.0

[66 rows x 6 columns]

In [85]:
df.id.unique()

# 헐 값이 하나밖에없넹. 의미가 없잖아! 그럼 지워버리자.

array(['MX000017004'], dtype=object)

In [86]:
#del df.id 는 안도미.
del df['id']

In [87]:
df

,year,month,element,d1,d2,d3,d4,d5,d6,d7,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,281.0,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,129.0,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
data3 = df.reset_index()

In [89]:
df = df[['year','month','element','variable','value']]

# column끼리 sorting하는방식.

KeyError: "['variable' 'value'] not in index"

In [60]:
df.year.unique()

# 아머야 얘도 2010년데이터만있네. but, 나중에 추가될것을 고려하여 없애진않음.

array([2010], dtype=int64)

In [62]:
df.sort_values('year', inplace=True)

In [63]:
df.reset_index(drop=True, inplace=True)

In [64]:
df[df.element == 'TMIN'].group_by('month')

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [71]:
# group by,  pivot, pivot table, cross tab 
# 총 groupby는 4개가 있음.

df.pivot_table(data3, index='month', value='value')

# arg function.
# data3. groupby('month').mean()
# pivot_table은 좀더 쉽게쓰기위함! group by로 다 해결됨~
# but, 내 입맛대로 컬럼명? 을 바꾸고싶을때.

TypeError: pivot_table() got an unexpected keyword argument 'value'

In [ ]:
# wide format으로 통계값 구개보기.

# stack

In [108]:
df = pd.read_csv('pew.txt', sep='\t')
df.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [106]:
df = df.set_index('religion')
print(df)

                         <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
religion
Agnostic                    27       34       60       81       76      137
Atheist                     12       27       37       52       35       70
Buddhist                    27       21       30       34       33       58
Catholic                   418      617      732      670      638     1116
Don’t know/refused          15       14       15       11       10       35
Evangelical Prot           575      869     1064      982      881     1486
Hindu                        1        9        7        9       11       34
Historically Black Prot    228      244      236      238      197      223
Jehovah's Witness           20       27       24       24       21       30
Jewish                      19       19       25       25       30       95
Mainline Prot              289      495      619      655      651     1107
Mormon                      29       40       48       51       56      112
Muslim                       6        7        9       10        9       23
Orthodox                    13       17       23       32       32       47
Other Christian              9        7       11       13       13       14
Other Faiths                20       33       40       46       49       63
Other World Religions        5        2        3        4        2        7
Unaffiliated               217      299      374      365      341      528

                         $75-100k  $100-150k  >150k  Don't know/refused
religion
Agnostic                      122        109     84                  96
Atheist                        73         59     74                  76
Buddhist                       62         39     53                  54
Catholic                      949        792    633                1489
Don’t know/refused             21         17     18                 116
Evangelical Prot              949        723    414                1529
Hindu                          47         48     54                  37
Historically Black Prot       131         81     78                 339
Jehovah's Witness              15         11      6                  37
Jewish                         69         87    151                 162
Mainline Prot                 939        753    634                1328
Mormon                         85         49     42                  69
Muslim                         16          8      6                  22
Orthodox                       38         42     46                  73
Other Christian                18         14     12                  18
Other Faiths                   46         40     41                  71
Other World Religions           3          4      4                   8
Unaffiliated                  407        321    258                 597

In [102]:
df = df.stack()

In [103]:
df
# 한 열로 쌓는거.
# melt랑 비슷하당.

religion
Agnostic               <$10k                  27
                       $10-20k                34
                       $20-30k                60
                       $30-40k                81
                       $40-50k                76
                       $50-75k               137
                       $75-100k              122
                       $100-150k             109
                       >150k                  84
                       Don't know/refused     96
Atheist                <$10k                  12
                       $10-20k                27
                       $20-30k                37
                       $30-40k                52
                       $40-50k                35
                       $50-75k                70
                       $75-100k               73
                       $100-150k              59
                       >150k                  74
                       Don't know/refused     76
Buddhist               <$10k                  27
                       $10-20k                21
                       $20-30k                30
                       $30-40k                34
                       $40-50k                33
                       $50-75k                58
                       $75-100k               62
                       $100-150k              39
                       >150k                  53
                       Don't know/refused     54
                                            ...
Other Faiths           <$10k                  20
                       $10-20k                33
                       $20-30k                40
                       $30-40k                46
                       $40-50k                49
                       $50-75k                63
                       $75-100k               46
                       $100-150k              40
                       >150k                  41
                       Don't know/refused     71
Other World Religions  <$10k                   5
                       $10-20k                 2
                       $20-30k                 3
                       $30-40k                 4
                       $40-50k                 2
                       $50-75k                 7
                       $75-100k                3
                       $100-150k               4
                       >150k                   4
                       Don't know/refused      8
Unaffiliated           <$10k                 217
                       $10-20k               299
                       $20-30k               374
                       $30-40k               365
                       $40-50k               341
                       $50-75k               528
                       $75-100k              407
                       $100-150k             321
                       >150k                 258
                       Don't know/refused    597
Length: 180, dtype: int64

In [107]:
# 첫번째 열을 풀어헤치는거.
df.unstack()

                    religion
<$10k               Agnostic                     27
                    Atheist                      12
                    Buddhist                     27
                    Catholic                    418
                    Don’t know/refused           15
                    Evangelical Prot            575
                    Hindu                         1
                    Historically Black Prot     228
                    Jehovah's Witness            20
                    Jewish                       19
                    Mainline Prot               289
                    Mormon                       29
                    Muslim                        6
                    Orthodox                     13
                    Other Christian               9
                    Other Faiths                 20
                    Other World Religions         5
                    Unaffiliated                217
$10-20k             Agnostic                     34
                    Atheist                      27
                    Buddhist                     21
                    Catholic                    617
                    Don’t know/refused           14
                    Evangelical Prot            869
                    Hindu                         9
                    Historically Black Prot     244
                    Jehovah's Witness            27
                    Jewish                       19
                    Mainline Prot               495
                    Mormon                       40
                                               ...
>150k               Hindu                        54
                    Historically Black Prot      78
                    Jehovah's Witness             6
                    Jewish                      151
                    Mainline Prot               634
                    Mormon                       42
                    Muslim                        6
                    Orthodox                     46
                    Other Christian              12
                    Other Faiths                 41
                    Other World Religions         4
                    Unaffiliated                258
Don't know/refused  Agnostic                     96
                    Atheist                      76
                    Buddhist                     54
                    Catholic                   1489
                    Don’t know/refused          116
                    Evangelical Prot           1529
                    Hindu                        37
                    Historically Black Prot     339
                    Jehovah's Witness            37
                    Jewish                      162
                    Mainline Prot              1328
                    Mormon                       69
                    Muslim                       22
                    Orthodox                     73
                    Other Christian              18
                    Other Faiths                 71
                    Other World Religions         8
                    Unaffiliated                597
Length: 180, dtype: int64

In [111]:
df.index = df.index.rename('A')
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
A,,,,,,,,,,,
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [116]:
a.rename('A')
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
A,,,,,,,,,,,
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [115]:
# dict형태는 자동완성이 안된다.
a = df['<$10k']
df['<$10k'].rename

<bound method Series.rename of A
0      27
1      12
2      27
3     418
4      15
5     575
6       1
7     228
8      20
9      19
10    289
11     29
12      6
13     13
14      9
15     20
16      5
17    217
Name: <$10k, dtype: int64>

In [117]:
df.name='frequency'

# 문자없이 숫자로만이루어져있으니까,

# astype

In [121]:
# tmax, tmin은 뭐람?
# category타입으로 바꾸기.

df.religion.astype('category')

A
0                    Agnostic
1                     Atheist
2                    Buddhist
3                    Catholic
4          Don’t know/refused
5            Evangelical Prot
6                       Hindu
7     Historically Black Prot
8           Jehovah's Witness
9                      Jewish
10              Mainline Prot
11                     Mormon
12                     Muslim
13                   Orthodox
14            Other Christian
15               Other Faiths
16      Other World Religions
17               Unaffiliated
Name: religion, dtype: category
Categories (18, object): [Agnostic, Atheist, Buddhist, Catholic, ..., Other Christian, Other Faiths, Other World Religions, Unaffiliated]

In [125]:
df.religion.str.cat

In [126]:
df.religion.describe()

count                     18
unique                    18
top       Don’t know/refused
freq                       1
Name: religion, dtype: object

In [127]:
df.religion.cat

AttributeError: Can only use .cat accessor with a 'category' dtype

In [128]:
df.category.cat.codes

AttributeError: 'DataFrame' object has no attribute 'category'

In [ ]:
# 인코딩
# 1) one-hot 인코딩.
# 2) label인코딩(small=0, large=1)