In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine("sqlite:///alchemytest.db", echo=True)

# 짝대기 3개임.
# db파일 불러오기.

In [6]:
# reflect랑 관련있는거를 불러와야함.

#전엔 아무것도없는 얘를갖다가 base만들때 썼음.
# from sqlalchemy.ext.declarative import declarative_base 
# Base = declarative_base();;??? 

from sqlalchemy.ext.automap import automap_base
# 자동으로 불로오는 애들 base로 쓰는 automap_base.

# base라는 객체가 필요했는데. 여기선 automap_base라는 애가 필요하댕.'
# automap_baseDB에서 불러와서 자동으로 class만들어줌.

In [7]:
Base = automap_base()
Base.prepare(engine, reflect=True)
# 가져와라.
# 딱 두줄밖에 없음. 이제 잘 가져왔는지 확인해보자.

2018-07-12 11:07:20,652 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-12 11:07:20,668 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 11:07:20,683 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,699 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 11:07:20,700 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,700 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 11:07:20,700 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,704 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 11:07:20,704 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,712 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 11:07:20,712 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,712 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 11:07:20,716 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,716 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 11:07:20,716 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,720 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-12 11:07:20,720 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,724 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 11:07:20,724 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,724 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-12 11:07:20,728 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,728 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 11:07:20,728 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,732 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 11:07:20,732 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,732 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 11:07:20,732 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,736 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 11:07:20,736 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,740 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-12 11:07:20,740 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,740 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 11:07:20,744 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,744 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-12 11:07:20,744 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,748 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 11:07:20,748 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,748 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 11:07:20,752 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,752 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 11:07:20,752 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:07:20,756 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 11:07:20,756 INFO sqlalchemy.engine.base.Engine ()

In [8]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)

#엔진이랑 연결.

In [9]:
session = Session()
# 세션하나 상속받아오고.

In [10]:
# class이름을 Artist라고 했음.

artist = Base.classes.Artist

In [11]:
artist
# classs 확인해보면, 그냥 class가아니라 automap이 한번 감싸고있음. 객체화되어있으니까 저번에 햇던방식으로 불러오진못함.
# 그래서 Session에게 명령할거야. 값받아와서 result에게 전달해주라고.

sqlalchemy.ext.automap.Artist

In [12]:
artist.name

In [13]:
result = session.query(artist)
for row in result:
    print(row)
    
# 불러오긴했지만, automap으로 갑싸져있어서 이 형식대로 읽진못함.

2018-07-12 11:07:28,518 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-12 11:07:28,518 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
2018-07-12 11:07:28,518 INFO sqlalchemy.engine.base.Engine ()
<sqlalchemy.ext.automap.Artist object at 0x000001E11F09F7F0>
<sqlalchemy.ext.automap.Artist object at 0x000001E11F09F860>

In [14]:
for row in result:
    print(row.id, row.name)
    
# PK와 FK를 명시적으로 적어줘서 읽어오도록함.

2018-07-12 11:07:30,334 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
2018-07-12 11:07:30,334 INFO sqlalchemy.engine.base.Engine ()
1 Led Zepplin
2 AC/DC

In [ ]:
# class에게도 알려줌. 얘가 얘를 참조한다고.
# db에 다녀오지않더라도, class가지고도 db만들수잇다공?
# album을통해 artist를 참조할수잇게끔한것.

In [ ]:
# N:M 관계가 기본임.
# artist라는 클래스를 이미 만들었음.
# 그저께 햇던 예제를 기반으로해서,, class선언했었으니까.