In [1]:
import sqlite3

In [2]:
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

In [3]:
sqlite3.version

'2.6.0'

In [4]:
sqlite3.version_info

(2, 6, 0)

In [6]:
type(sqlite3.version)

str

In [7]:
type(sqlite3.version_info)

tuple

In [8]:
sqlite3.sqlite_version

'3.8.11'

In [184]:
conn = sqlite3.connect(':memory:')

In [185]:
conn

In [186]:
cur = conn.cursor()

In [187]:
cur

In [188]:
cur.execute("create table people (name_last, age)")

In [189]:
# data 집어넣는방법 
# 1) qmark style.
# 2) named style.

who = "Yeltsin"
age = 72

In [190]:
who

'Yeltsin'

In [191]:
age

72

In [192]:
# 1) qmark style.
# 변수를 쓸수있음.
cur.execute("insert into people values(?, ?)", (who, age))

In [193]:
# 2) named style.
# dictionary를 쓸수있음.
cur.execute("select * from people where name_last = :who and age = :age", {"who":who, "age":age})

In [194]:
# 결과를 눈에 보이도록 fetch를 써서 가져올것임.
# 튜플 형태로 보이게 될 것.
# 데이터 하나밖에 없는데 하나 fechone하고 나면, 그다음에 fechone실행할 시 null이 나옴.
# 모든 데이터를 가져오려면 while문을 써서 가져올 수 있음.
while True:
    print(cur.fetchone())
    if cur.fetchone() == None:
        break;

('Yeltsin', 72)

In [195]:
sql = "insert into people values(?, ?)"

In [196]:
data = [("1", 1), ("2", 2), ("3", 3), ("4", 4)]

In [197]:
cur.executemany(sql, data)

In [198]:
# executescript() : sql문 여러개를 한번에 실행하고싶을 때. 
# 변수를 str로 직접 넣었음.

cur.executescript("""
    create table person(
        first_name text primary key,
        last_name text not null
    );
    insert into person values('55', '정');
    insert into person values('26', '혜영');

""")

In [199]:
cur.execute("select * from person")

In [200]:
# fechall() : 쿼리결과의 list값을 모두 가져올 때.

cur.fetchall()

[('55', '정'), ('26', '혜영')]

In [201]:
conn.close()

In [202]:
# 새로운 Connection 생성.
# test.db 파일이 생성되었음을 확인 가능.

conn = sqlite3.connect("test.db")
print("생성성공!")

생성성공!

In [227]:
# TEXT형식으로 써도 되지만, 다른 DBMS에서도 호환될 것을 생각하여 CHAR(50)으로 설정함.
# real : 실수형 데이터타입.
conn.execute(
"""
    create table company (
    id int primary key not null,
    name text not null,
    age int not null,
    address char(50),
    salary real
    )
"""
)
print("TableCreated successfully")

TableCreated successfully

In [226]:
conn.execute("drop table company")

In [228]:
conn.execute("insert into company(id, name, age, address, salary) values(1, 'paul', 32, 'california', 20000.00)");
conn.execute("insert into company(id, name, age, address, salary) values(:id, :name, :age, :address, :salary )",
            {'id':2, 'name':'soojung', 'age':26, 'address':'seoul','salary':5000.00});

data = [(3, 'teddy', 23, 'norway', 20000.00),
       (4, 'mark', 25, 'rich-mond', 65000.00)]

conn.executemany("insert into company (id, name, age, address, salary) values (?, ?, ?, ?, ?)", data);

conn.executescript(
"""
    insert into company (id, name, age, address, salary)
    values (5, 'marki', 25, 'rich-mond', 6500.00 );
    
    insert into company (id, name, age, address, salary)
    values(6, 'mark2', 25, 'rich-mond', 6500.00);
""");

conn.commit()
print('records created successfully')

records created successfully

In [229]:
temp = conn.execute("select * from company")

In [230]:
type(temp)

sqlite3.Cursor

In [231]:
# select문의 다른방식.
# 중간에 fechone이 숨어있는것임. 
# 불러와서 출력하고 나면 메모리에 남아있는 게 없어서 다시 print실행하면 데이터가 안찍힘.

for row in temp:
    print(type(row), row)

<class 'tuple'> (1, 'paul', 32, 'california', 20000.0)
<class 'tuple'> (2, 'soojung', 26, 'seoul', 5000.0)
<class 'tuple'> (3, 'teddy', 23, 'norway', 20000.0)
<class 'tuple'> (4, 'mark', 25, 'rich-mond', 65000.0)
<class 'tuple'> (5, 'marki', 25, 'rich-mond', 6500.0)
<class 'tuple'> (6, 'mark2', 25, 'rich-mond', 6500.0)

In [232]:
# update문 새로운 방법.

cid = 1
conn.execute("update company set salary=2500.00 where id=:id", {"id":cid})

conn.commit()
# 메모리단에서 적용된 쿼리문을 commit함으로서 파일에 쓰게됨.
# update, select 전 후에 commit으로 데이터 트랜잭션을 끝내줘야 데이터가 테이블에 반영됨.

In [233]:
#delete문

conn.execute("delete from company where id=2")

# PPT 92. try-catch

In [234]:
try:
    con = sql.connect("test.db")
    cur = con.cursor()
    cur.executescript("""
        drop table if exists Cars;
        create table Cars (Id int, Name text, Price int);
        insert into Cars values(1, 'Audi', 52642);
        insert into Cars values(2, 'Mercedes', 57127);
        insert into Cars values(3, 'Skoda', 9000);
        insert into Cars values(4, 'Volvo', 29000);
        insert into Cars values(5, 'Bently', 350000);
        insert into Cars values(6, 'Citroen', 21000);
        insert into Cars values(7, 'Hummer', 41400);
        insert into Cars values(8, 'Volkswagen', 21600);
    """)
    con.commit()
    
except Exception as e:
    if con:
        con.rollback()
    print("Error: ", e)

finally:
    if con:
        con.close()

NameError: name 'con' is not defined