# PPT 106) alchemytest.db 파일에 DB정보 저장하기

In [152]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String, ForeignKey
from sqlalchemy import select, update, join
from sqlalchemy import and_, or_, not_

In [144]:
# host가 업으니까 host없고, 그다음 db이름까지입력하게 되므로 슬래쉬가 세개! ///.

engine = create_engine("sqlite:///alchemytest.db", echo=True)
metadata = MetaData()
conn = engine.connect()

2018-07-10 16:23:29,576 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:23:29,577 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:29,580 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 16:23:29,581 INFO sqlalchemy.engine.base.Engine ()

In [125]:
artist.drop(engine)
album.drop(engine)
genre.drop(engine)
track.drop(engine)

2018-07-10 16:09:26,987 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Artist"
2018-07-10 16:09:26,988 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:09:26,990 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:09:26,991 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Album"
2018-07-10 16:09:26,992 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:09:26,994 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:09:26,995 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Genre"
2018-07-10 16:09:26,996 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:09:26,998 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:09:26,999 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Track"
2018-07-10 16:09:27,001 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:09:27,002 INFO sqlalchemy.engine.base.Engine COMMIT

In [133]:
metadata.drop_all(engine)
metadata.drop_all(conn)

2018-07-10 16:10:27,402 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 16:10:27,404 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:10:27,405 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 16:10:27,406 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:10:27,407 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 16:10:27,408 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:10:27,410 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 16:10:27,411 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:10:27,413 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 16:10:27,414 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:10:27,416 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 16:10:27,417 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:10:27,418 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 16:10:27,419 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:10:27,421 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 16:10:27,421 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
print(metadata.tables)

### ***** Trouble Shooting *****

In [ ]:
# metadata.drop_all(engine),(conn),() 해도 metadata에는 안없어지넹;;;;
# metadata에 table정보가 남아있어서 drop table한 후, create table하면 오류가 뜸. 
# => table 생성할 때 extend_existing=True, 를 추가하여 해결한다.

In [145]:
artist = Table("Artist", metadata,                
              Column("id", Integer, primary_key=True),
              Column("name", String, nullable=False),
              extend_existing=True,
              )

album = Table("Album", metadata,
              Column("id", Integer, primary_key=True),
              Column("title", String, nullable=False),
              Column("artist_id", Integer, ForeignKey("Artist.id")),
              extend_existing=True,
             )

genre = Table("Genre", metadata,
              Column("id", Integer, primary_key=True),
              Column("name", String, nullable=False),
              extend_existing=True,
             )

track = Table("Track", metadata,
              Column("id", Integer, primary_key=True),
              Column("title", String, nullable=False),
              Column("length", Integer, nullable=False),
              Column("rating", Integer, nullable=False),
              Column("count", Integer, nullable=False),
              Column("album_id", Integer, ForeignKey("Album.id")),
              Column("genre_id", Integer, ForeignKey("Genre.id")),
              extend_existing=True,
             )

In [146]:
metadata.create_all(engine)

2018-07-10 16:23:35,965 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 16:23:35,966 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:35,967 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 16:23:35,969 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:35,969 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 16:23:35,971 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:35,973 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 16:23:35,973 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:35,975 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:23:35,976 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:35,998 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:23:35,999 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 16:23:36,000 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:36,021 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:23:36,023 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2018-07-10 16:23:36,023 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:36,034 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:23:36,036 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2018-07-10 16:23:36,036 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 16:23:36,052 INFO sqlalchemy.engine.base.Engine COMMIT

In [147]:
for row in engine.table_names():
    print(row)

2018-07-10 16:23:38,629 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 16:23:38,630 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

In [148]:
conn.execute(artist.insert(), [
    {"name" : "Led Zepplin"},
    {"name" : "AC/DC"}
])

conn.execute(album.insert(), [
    {"title" : "IV", "artist_id" : 1},
    {"title" : "Who Made Who", "artist_id" : 2}
])

conn.execute(genre.insert(), [
    {"name" : "Rock"},
    {"name" : "Metal"}
])

conn.execute(track.insert(), [
    {"title" : "Black Dog", "rating" : 5, "length" : 123, "count" : 0, "album_id" : 1, "genre_id" : 1},
    {"title" : "Stariway", "rating" : 5, "length" : 123, "count" : 0, "album_id" : 1, "genre_id" : 2},
    {"title" : "go to rock", "rating" : 5, "length" : 123, "count" : 0, "album_id" : 2, "genre_id" : 1},
    {"title" : "Who made Who", "rating" : 5, "length" : 123, "count" : 0, "album_id" : 2, "genre_id" : 2},
    
])

2018-07-10 16:23:40,366 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2018-07-10 16:23:40,367 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2018-07-10 16:23:40,370 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:23:40,379 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2018-07-10 16:23:40,380 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2018-07-10 16:23:40,382 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:23:40,408 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2018-07-10 16:23:40,409 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2018-07-10 16:23:40,412 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:23:40,429 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2018-07-10 16:23:40,430 INFO sqlalchemy.engine.base.Engine (('Black Dog', 123, 5, 0, 1, 1), ('Stariway', 123, 5, 0, 1, 2), ('go to rock', 123, 5, 0, 2, 1), ('Who made Who', 123, 5, 0, 2, 2))
2018-07-10 16:23:40,432 INFO sqlalchemy.engine.base.Engine COMMIT

In [149]:
result = conn.execute(artist.select())

for row in result:
    print(row)

2018-07-10 16:23:42,701 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2018-07-10 16:23:42,703 INFO sqlalchemy.engine.base.Engine ()
(1, 'Led Zepplin')
(2, 'AC/DC')

In [150]:
result = conn.execute(track.select())

for row in result:
    print(row)

2018-07-10 16:23:43,881 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
2018-07-10 16:23:43,882 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 123, 5, 0, 1, 1)
(2, 'Stariway', 123, 5, 0, 1, 2)
(3, 'go to rock', 123, 5, 0, 2, 1)
(4, 'Who made Who', 123, 5, 0, 2, 2)

In [154]:
# Where조건을 가지고 Join 아닌 join을 할거임. 결국 inner join의 형태를 띌것임.
# red zepplin의 4번째 앨범에 수록된 
# aritis ..... 앨범별보기. 앨범에 수록된 곡들이 좍 나오도록.
# key 값이 1인것 중.
# albumid는 1번을 만족하는데, genre는 상관없음(meta이거나 rock인애)


result = conn.execute(select([track])
                      .where(
                          and_(
                              track.c.album_id == 1,
                              or_(
                                  track.c.genre_id == 1,
                                  track.c.genre_id == 2
                              )
                          )
                      ))
for row in result:
    print(row)

2018-07-10 16:24:24,357 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)
2018-07-10 16:24:24,358 INFO sqlalchemy.engine.base.Engine (1, 1, 2)
(1, 'Black Dog', 123, 5, 0, 1, 1)
(2, 'Stariway', 123, 5, 0, 1, 2)

In [155]:
print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [156]:
print(track.join(album).join(genre))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id

In [157]:
print(track.join(album).join(genre).join(artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [159]:
result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                      .select_from(track.join(album).join(genre).join(artist))
                     .where(
                     and_(
                         genre.c.id == 1,
                         artist.c.name.like("%pp%")
                     )))

2018-07-10 16:25:55,134 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".name LIKE ?
2018-07-10 16:25:55,135 INFO sqlalchemy.engine.base.Engine (1, '%pp%')

In [161]:
for row in result:
    print(row)

('Black Dog', 'IV', 'Rock', 'Led Zepplin')